In [201]:
from sqlalchemy import create_engine, text
import pymysql 
import pandas as pd

In [157]:
pro = "mysql+pymysql://"
user = "bigdata"
password = "Bigdata123!!"
host = "192.168.56.101"
port = "3306"
db = "charge_all"
engine = create_engine(f"{pro}{user}:{password}@{host}:{port}/{db}")
conn = engine.connect()
charset = 'utf8'

In [190]:

df= pd.read_csv('./Ecar_info.csv')
df.columns.to_list()


# df.loc["addr","use_time","busi_call","stat_upd_dt","power_type","parking_free_yn","stat_note","limit_detail","del_detail"].fillna("",inplace='True')

missing_fill_val = {"stat_nm" : "null",
                    "stat_id": "none2",
                    "chger_id": 0,
                    "chger_type": 0,
                    "addr": "Unknown1", 
                    "lat": 0,
                    "lon": 0,
                    "busi_nm":"none3",
                    "use_time": "Unknown2", 
                    "busi_id": "none4",
                    "busi_call": "Unknown3", 
                    "chger_stat": 0,
                    "stat_upd_dt": "Unknown4", 
                    "power_type": "Unknown5",
                    "city_do_cd": 0,
                    "parking_free_yn": "Unknown6",
                    "stat_note": "Unknown7",
                    "limit_yn": "none5",
                    "limit_detail": "Unknown8",
                    "del_yn": "none6",
                    "del_detail": "Unknown9"}
                    
df.fillna(missing_fill_val,inplace=True)

/home/jhyu/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [191]:
print(missing_fill_val)

{'stat_nm': 'null', 'stat_id': 'none2', 'chger_id': 0, 'chger_type': 0, 'addr': 'Unknown1', 'lat': 0, 'lon': 0, 'busi_nm': 'none3', 'use_time': 'Unknown2', 'busi_id': 'none4', 'busi_call': 'Unknown3', 'chger_stat': 0, 'stat_upd_dt': 'Unknown4', 'power_type': 'Unknown5', 'city_do_cd': 0, 'parking_free_yn': 'Unknown6', 'stat_note': 'Unknown7', 'limit_yn': 'none5', 'limit_detail': 'Unknown8', 'del_yn': 'none6', 'del_detail': 'Unknown9'}

In [192]:
print(df)

           stat_nm   stat_id  chger_id  chger_type                      addr  \
0         종묘 공영주차장  ME000001         1           3          서울특별시 종로구 종로 157
1        세종로 공영주차장  ME000002         1           6        서울특별시 종로구 세종대로 189
2       그랜드앰배서더 서울  ME000003         1           6          서울특별시 중구 동호로 287
3       한강진역 공영주차장  ME000004         1           3      서울특별시 용산구 한남동 산10-84
4      기아차 성동서비스센터  ME000005         1           3      서울특별시 성동구 성수이로26길 61
...            ...       ...       ...         ...                       ...
89231  영남알프스복합웰컴센터  US200419         2           4  울산광역시 울주군 상북면 등억알프스리 517
89232   언양읍 행정복지센터  US200420         1           4       울산광역시 울주군 언양읍 동문길 7
89233   화봉공원 공영주차장  US200421         1           4        울산광역시 북구 화봉동 445-1
89234   화봉공원 공영주차장  US200421         2           4        울산광역시 북구 화봉동 445-1
89235    낙산해수욕장주차장  YY180001         1           6        강원도 양양군 강현면 일출로 43

             lat         lon   use_time busi_id busi_nm  ... chger_stat  \
0      37.571076  126.995880  24시간 이용가능      ME     환경부  ...          9
1      37.573611  126.976011  24시간 이용가능      ME     환경부  ...          9
2      37.559352  127.002350  24시간 이용가능      ME     환경부  ...          9
3      37.540085  127.002804  24시간 이용가능      ME     환경부  ...          9
4      37.544834  127.064226  24시간 이용가능      ME     환경부  ...          9
...          ...         ...        ...     ...     ...  ...        ...
89231  35.556117  129.068415  24시간 이용가능      US     환경부  ...          9
89232  35.569414  129.125781  24시간 이용가능      US     환경부  ...          3
89233  35.588995  129.364458  24시간 이용가능      US     환경부  ...          3
89234  35.588995  129.364458  24시간 이용가능      US     환경부  ...          3
89235  38.116272  128.631878  24시간 이용가능      YY     환경부  ...          9

            stat_upd_dt power_type city_do_cd  parking_free_yn  \
0      20211100000000.0   Unknown5         11                Y
1      20210800000000.0   Unknown5         11                Y
2      20210900000000.0   Unknown5         11                N
3      20210900000000.0   Unknown5         11                Y
4      20210700000000.0   Unknown5         11                N
...                 ...        ...        ...              ...
89231  20211100000000.0   Unknown5         31                Y
89232  20211100000000.0   Unknown5         31                Y
89233  20211100000000.0   Unknown5         31                Y
89234  20211100000000.0   Unknown5         31                Y
89235  20190600000000.0   Unknown5         42                Y

                  stat_note limit_yn            limit_detail del_yn del_detail
0                  Unknown7        N                Unknown8      N   Unknown9
1                  Unknown7        N                Unknown8      N   Unknown9
2                  Unknown7        N                Unknown8      N   Unknown9
3                  Unknown7        N                Unknown8      N   Unknown9
4      20190626 공사로 인한 임시철거        Y    20190626 공사로 인한 임시철거      N   Unknown9
...                     ...      ...                     ...    ...        ...
89231              Unknown7        N                Unknown8      N   Unknown9
89232              Unknown7        N                Unknown8      N   Unknown9
89233              Unknown7        N                Unknown8      N   Unknown9
89234              Unknown7        N                Unknown8      N   Unknown9
89235              Unknown7        Y  시설 상황에 따라 이용이 제한될 수 있음      N   Unknown9

[89236 rows x 21 columns]

In [193]:
df.isnull().sum()

stat_nm            0
stat_id            0
chger_id           0
chger_type         0
addr               0
lat                0
lon                0
use_time           0
busi_id            0
busi_nm            0
busi_call          0
chger_stat         0
stat_upd_dt        0
power_type         0
city_do_cd         0
parking_free_yn    0
stat_note          0
limit_yn           0
limit_detail       0
del_yn             0
del_detail         0
dtype: int64

In [194]:
df_dict = df.to_dict("records")

In [195]:
type(df_dict[0]['chger_id'])

int

In [196]:
stmt = """
insert into Ecar_info(
stat_nm,
stat_id,
chger_id,
chger_type,
addr,
lat,
lon,
use_time,
busi_id,
busi_nm,
busi_call,
chger_stat,
stat_upd_dt,
power_type,
city_do_cd,
parking_free_yn,
stat_note,
limit_yn,
limit_detail,
del_yn,
del_detail)

values(
:stat_nm,
:stat_id,
:chger_id,
:chger_type,
:addr,
:lat,
:lon,
:use_time,
:busi_id,
:busi_nm,
:busi_call,
:chger_stat,
:stat_upd_dt,
:power_type,
:city_do_cd,
:parking_free_yn,
:stat_note,
:limit_yn,
:limit_detail,
:del_yn,
:del_detail)
"""

In [197]:

for dt in df_dict:
    conn.execute(text(stmt),**dt)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'stat_nm' in 'field list'")
[SQL:
insert into Ecar_info(
stat_nm,
stat_id,
chger_id,
chger_type,
addr,
lat,
lon,
use_time,
busi_id,
busi_nm,
busi_call,
chger_stat,
stat_upd_dt,
power_type,
city_do_cd,
parking_free_yn,
stat_note,
limit_yn,
limit_detail,
del_yn,
del_detail)

values(
%(stat_nm)s,
%(stat_id)s,
%(chger_id)s,
%(chger_type)s,
%(addr)s,
%(lat)s,
%(lon)s,
%(use_time)s,
%(busi_id)s,
%(busi_nm)s,
%(busi_call)s,
%(chger_stat)s,
%(stat_upd_dt)s,
%(power_type)s,
%(city_do_cd)s,
%(parking_free_yn)s,
%(stat_note)s,
%(limit_yn)s,
%(limit_detail)s,
%(del_yn)s,
%(del_detail)s)
]
[parameters: {'stat_nm': '종묘 공영주차장', 'stat_id': 'ME000001', 'chger_id': 1, 'chger_type': 3, 'addr': '서울특별시 종로구 종로 157', 'lat': 37.571076, 'lon': 126.99588, 'use_time': '24시간 이용가능', 'busi_id': 'ME', 'busi_nm': '환경부', 'busi_call': '1661-9408', 'chger_stat': 9, 'stat_upd_dt': 20211100000000.0, 'power_type': 'Unknown5', 'city_do_cd': 11, 'parking_free_yn': 'Y', 'stat_note': 'Unknown7', 'limit_yn': 'N', 'limit_detail': 'Unknown8', 'del_yn': 'N', 'del_detail': 'Unknown9'}]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [155]:
schema_stmt = """
SELECT TABLE_SCHEMA FROM information_schema.TABLES
WHERE TABLE_NAME = 'Ecar_info';
"""

pd.read_sql(text(schema_stmt), conn)

  TABLE_SCHEMA
0   charge_all